html {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace;
  word-wrap: break-word;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 2.3em;
  margin: 0px;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #d53369 50%, #daae51 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.btn-1 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.btn-1 input {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  letter-spacing: 2px;
  cursor: pointer;
}

#btn-mark-attendance {
  background-color: black;
  color: white;
  border-radius: 13px;
  max-width: 240px;
  font-weight: 600;
}

.file {
  display: flex;
  flex-direction: row;
}

input {
  margin: 0 7px;
  width: 80%;
  max-width: 180px;
}

input[type=button]:hover {
  background-color:rgb(249, 250, 250);
} 

input[type=button][id=btn-mark-attendance]:hover {
  background-color:white !important;
  color: #000 !important;
} 